.step-3 .section-right .photo {
    width: 40rem;
    height: 30rem;
    padding: 3rem;
}

.step-3 .cstm-container .section-right {
    padding-top: 3rem;
    padding-left: 3rem;
}

.step-3 .cstm-container .section-left {
    padding-top: 3rem;
    padding-left: 7rem;
}

.step-3 .label-form {
    margin: 1rem 0rem;
}

.step-3 .sede-title {
    font-family: var(--font-family-1);
    font-weight: bold;
    color: #3F3F41;
    font-size: 1rem;
    text-align: left;
    line-height: 21px;
    letter-spacing: 0.68px;
}

.step-3 .sede-direccion,
.step-3 .sede-horario,
.step-3 .sublabel-patient {
    width: 100%;
    font-family: var(--font-family-1);
    color: #A5A5A5;
    text-align: left;
    letter-spacing: 0px;
}