.cstm-input,
.cstm-select {
  border: none;
  color: #7D7D7D;
  border-bottom: 1px solid #474747;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

input:focus,
select:focus,
select,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  border-bottom: #3F3F41 2px solid;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


.cstm-btn {
  background-color: #3F3F41;
  border-radius: 1.9rem;
  color: #fff;
  width: 17rem;
  height: 2.5rem;
  margin: 2rem;
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
}

.label-form,
.sublabel-form {
  color: var(--color-primary);
  font-family: var(--font-family-1);
  text-align: left;
}

.label-form,
.label-patient,
.label-service {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0rem !important;
}

.sublabel-form,
.label-service {
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
  margin-top: 0px;
}

.error-message {
  color: #b22222;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .cstm-btn {
    width: 100%;
    margin: 1rem auto;
  }
}