@import url('https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/css/lato-font.min.css');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

:root {
  --font-family-1: 'Lato';
  --color-primary: #1F9547;
}